# Copia este archivo como .env.local y completa los valores
# cp .env.local.template .env.local

DEV_SERVER_PORT=4000

# URL base del API (BERecepcion.Api)
API_BASE_URL=https://berdes-back.pemex.com/api/

# URL del frontend MVC legacy — se usa para redirigir al login y al logout
LEGACY_APP_URL=https://localhost:5001

# Azure Active Directory
AZURE_AD_CLIENT_ID=
AZURE_AD_TENANT_ID=0fb730e1-89f1-4035-ae89-d327c0f1d87b
AZURE_AD_REDIRECT_URI=http://localhost:4000
AZURE_AD_SCOPES=api://204beff7-7dd7-42eb-96d3-d4f100c46e0c/user_impersonation

# Branding
BRANDING_CORPORATION_SHORT_NAME=Pemex
BRANDING_CORPORATION_LONG_NAME=Petróleos Mexicanos
BRANDING_CORPORATION_LOGO_URL=/img/logos/logo_pmx.png
BRANDING_APPLICATION_SHORT_NAME=BER
BRANDING_APPLICATION_LONG_NAME=Bóveda Electrónica de Recepción
BRANDING_APPLICATION_URL=http://localhost:4000

# Idioma por defecto
GLOBALIZATION_DEFAULT_LOCALE=es
