# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node
node_modules

# Logs
logs
*.log

# Env files (keep templates, ignore actuals)
.env.local
.env.local.*
!.env.local.template

# OS
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
